<ion-view title="Carry Me" hide-nav-bar="true">
  <ion-content>
    <div class="row responsive-sm">

      <div class="title animated fadeInDown animate-duration" style="margin:50% 0 20%">
        CarryMe
      </div>

      <div id="sign-buttons" class="animate fadeIn">

        <a href="#/signin" class="waves-effect waves-light btn custom-button">
          Sign In
        </a>

        <a href="#/signup" class="waves-effect waves-light blue darken-1 btn custom-button">
          Sign Up
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
