<ion-view title="Sign Up" hide-nav-bar="true">
  <ion-content padding="true">

    <div class="title-app" style="margin-top: 10%">
      Welcome
    </div>

    <form>
      <ion-list>

        <label class="input-field">
          <!--<span class="input-label">Username</span>-->
          <input type="text" placeholder="Username" ng-model="data.username" style="color:white">
        </label>
        <label class="input-field">
          <!--<span class="input-label">Email</span>-->
          <input type="email" placeholder="Email" ng-model="data.email">
        </label>

        <label class="input-field">
          <!--<span class="input-label">Weight(kg)</span>-->
          <input type="text" placeholder="Weight (kg)" ng-model="data.weight" style="color:white">
        </label>

        <label class="input-field">
          <!--<span class="input-label">Password</span>-->
          <input type="password" placeholder="Password (at least 6 characters)" ng-model="data.password"
                 style="color:white">
        </label>
      </ion-list>
      <button class="waves-effect waves-light btn red darken-3 custom-button" style="margin-top: 10px"
              ng-click="signupEmail()">Done
      </button>
    </form>

    <div>
      <h3 style="color:#fff; text-align:center; margin-top: 30px">or</h3>
    </div>

    <a class="waves-effect waves-light btn blue darken-4 custom-button">
      <span class="fa fa-facebook-official"></span> Sign up with Facebook
    </a>
    <a class="waves-effect waves-light btn deep-orange darken-2 custom-button">
      <span class="fa fa-google-plus"></span> Sign up with Google+
    </a>
    <a class="waves-effect waves-light btn light-blue accent-3 custom-button">
      <span class="fa fa-twitter"></span> Sign up with Twitter
    </a>

    <div>
      <h4 style="color:#fff; text-align:center; margin-top: 30px">Existing user?</h4>
      <a href="#/signin" class="waves-effect waves-light btn custom-button">
        Sign In
      </a>
    </div>
  </ion-content>
</ion-view>
