<ion-view title="Sign In" hide-nav-bar="true">
  <ion-content padding="true" class="has-header">

    <div class="title">
      Hello Again
    </div>

    <form id="login-form">
        <label class="item item-input">
          <!--
                    <span class="input-label">Username</span>
          -->
          <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input">
          <!--
                    <span class="input-label">Password</span>
          -->
          <input type="password" placeholder="Password" ng-model="data.password">
        </label>

      <button class="waves-effect waves-light btn custom-button" ng-click="loginEmail()" style="margin-top: 10px">Sign
        in
      </button>

    </form>

    <div>
      <h3 style="color:#fff; text-align:center; margin-top: 30px">or</h3>
    </div>

    <a class="waves-effect waves-light btn blue darken-4 custom-button">
      <span class="fa fa-facebook-official"></span> Sign in with Facebook
    </a>
    <a class="waves-effect waves-light btn deep-orange darken-2 custom-button">
      <span class="fa fa-google-plus"></span> Sign in with Google+
    </a>
    <a class="waves-effect waves-light btn light-blue accent-3 custom-button">
      <span class="fa fa-twitter"></span> Sign in with Twitter
    </a>

    <div>
      <h4 style="color:#fff; text-align:center; margin-top: 30px">Don't have an account?</h4>
      <a href="#/signup" class="waves-effect waves-light btn blue darken-1 custom-button">
        Sign Up
      </a>
    </div>

  </ion-content>
</ion-view>
