<ion-view view-title="Dashboard" ng-controller="DashCtrl">

  <ion-content class="padding">

    <ion-refresher refreshing-text="Syncing weather..." on-refresh="syncWeather()"></ion-refresher>

    <!-- Weather object -->
    <div>
      <div id="weather">
        <h2 id="temperature">
          <i class="{{weather.icon_url}}"></i>
          {{weather.temperature}}&deg;C</h2>
        <ul>
          <li>{{weather.weatherDescription}}</li>
          <li>{{weather.city}}</li>
        </ul>
      </div>

      <!-- Swiper -->
      <div class="swiper-container" ng-init="syncForecast()" swiper>
        <div class="swiper-wrapper">
          <div class="swiper-slide" ng-repeat="weather in forecast" is-loaded>

            <i class="{{weather.icon}}"></i>
            {{weather.temperature}}&deg;C
            <h5>{{weather.time}}</h5>
          </div>
        </div>
        <!-- If we need scrollbar -->
        <!--<div class="swiper-scrollbar"></div>-->
      </div>

    </div>

    <!-- Routes object -->

    <div ng-controller="RoutesCtrl">

      <!-- Routes form -->
      <form id="search-form" ng-submit="getRoutes()">
        <label class="item item-input">
          <input id="starting-point" g-places-autocomplete ng-model="starting_point" type="text"
                 placeholder="Starting Point" required>
        </label>

        <label class="item item-input">
          <input id="destination" type="text" g-places-autocomplete ng-model="destination" placeholder="Destination"
                 required>
        </label>

        <button type="submit" class="button button-light centralize">
          Let's go!
        </button>
      </form>

      <ion-list ng-show="routesOn">
        <ion-item class="item-icon-left item-icon-right" ng-repeat="route in routes" type="item-text-wrap">
          <i class="icon {{route.mode.icon}}"></i>

          <div class="row">
            <div class="col">
              {{route.distance.text}}
            </div>
            <div class="col">
              {{route.score.calories}} kcal
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{route.duration.text}}
            </div>
            <div class="col">
              <!-- carbon footprint -->
            </div>
          </div>
          <i class="icon ion-leaf">
            <p>{{route.score.points}} pts</p>
          </i>

          <!--<ion-option-button class="button-positive" ng-click="markComplete(journey)" ng-hide="settings.showCompleted">Mark as Complete</ion-option-button>-->
          <!--<ion-option-button class="button-positive" ng-click="markIncomplete(journey)" ng-show="settings.showCompleted">Mark as Incomplete</ion-option-button>-->

        </ion-item>
      </ion-list>

      <br>
      <br>
    </div>
  </ion-content>
</ion-view>
