<ion-view view-title="Journeys" hide-nav-bar="true">
  <ion-content class="padding">
    <!-- Routes object -->

    <div ng-controller="JourneysCtrl">

      <div id="plan-header">
        <h3> Plan your Journey </h3>
      </div>

      <!-- Routes form -->
      <form id="search-form" ng-submit="getRoutes()">
        <label class="input-field">
          <i class="material-icons prefix">my_location</i>
          <input id="starting-point" g-places-autocomplete ng-model="starting_point" type="text"
                 placeholder="Starting Point" class="validate" style="color:white">
        </label>

        <label class="input-field">
          <i class="material-icons prefix">location_on</i>
          <input id="destination" type="text" g-places-autocomplete ng-model="destination" placeholder="Destination"
                 class="validate" style="color:white">
        </label>

        <button type="submit" class="waves-effect waves-light btn centralize">
          Let's go!
        </button>
      </form>

      <div ng-show="routesOn">

        <ul class="collection" style="opacity:0.85">
          <li class="collection-item avatar" ng-repeat="route in routes">
            <i class="circle icon {{route.mode.icon}}"></i>

            <span class="title">{{route.score.points}} points </span>
            <div class="row">
              <div class="col-50"> {{route.duration.text}}  <br>  {{route.distance.value/1000.0}} km</div>
              <div class="col-50">{{route.score.footprint}} kg CO2e <br>{{route.score.calories}} kcal</div>
            </div>


            <a href="#/tab/journeys/map" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
        </ul>

      </div>
    </div>

  </ion-content>
</ion-view>
