<ion-view view-title="Settings">
  <ion-content >
    <ion-list>
      <ion-item class="item-icon-right" style="color : white; background-color: transparent;">
        Personalise Profile
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-right" style="color : white; background-color: transparent;">
        Privacy Agreement
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item style="color : white; background-color: transparent;" ng-click="logout()">
        Log out
      </ion-item>
    </ion-list>
    <!--<a class="button  icon-right" ng-click="logout()">Log out</a>-->

  </ion-content>
</ion-view>

