<ion-view view-title="Dashboard" ng-controller="DashCtrl">
  <ion-content class="padding">

    <div id="weather">
      <!--<img src="{{icon_url}}"/>-->
      <h2 id="temperature"> {{temperature}}&deg;C</h2>
      <ul>
        <li>{{weatherDescription}}</li>
        <li>{{city}}</li>
      </ul>
    </div>

    <!-- Swiper -->
    <ks-swiper-container initial-slide="3" loop="false" show-nav-buttons="false" slides-per-view="4" space-between="5"
                         pagination-clickable="false">
      <ks-swiper-slide class="swiper-slide" ng-repeat="s in weatherIcons">
        <i class="wi {{s}}"></i>
      </ks-swiper-slide>
    </ks-swiper-container>

    <form id="search-form" ng-submit="getWeather()">
      <label class="item item-input">
        <input id="starting-point" g-places-autocomplete ng-model="starting_point" type="text"
               placeholder="Starting Point">
      </label>

      <label class="item item-input">
        <input id="destination" type="text" g-places-autocomplete ng-model="destination" placeholder="Destination">
      </label>

      <button type="submit" class="button button-light centralize">
        Let's go!
      </button>
    </form>
  </ion-content>
</ion-view>
