/* Empty. Add your own CSS if you like */
.img-circular{
  width: 150px;
  height: 150px;
  background-image: url('https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png');
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;

}
