/* Empty. Add your own CSS if you like */
.img-circular{
  width: 150px;
  height: 150px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;

}

.swiper-container {
  width: 100%;
  height: 90px;
  margin: 10px;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 80px;
  background-color: #3498db;
  color: white;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide:nth-child(2n) {
  width: 40%;
}
.swiper-slide:nth-child(3n) {
  width: 20%;
}
